
        
H1{
        Color: #15CE90;
        background: white;
        
}
h2{
    Color:red;
    
}
ul {
    list-style: none;
    background-color: grey;
    margin: 0px;
    padding: 20px;
    
}
        
ul li{
    display: inline;
    padding: 0px auto;
    text-align: center;
    
}
        
ul li a{
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
ul li a:hover {
        background-color: red;
        color:white;
        padding: 22px;
        
}

.ImgGallary {
        width: 1000px;
        margin: 0px auto;
        
    }
.ImgGallary td{
    padding: 15px;
    text-align: center;
}
p{
    margin: auto;
    padding: 30px;
    text-align: center;
}
P em{
    color: crimson
}
ul1{ 
    float: left;
    margin 20px;
    padding: 20px}

ol{float:right;
    
}